<html>
	<!-- ###TEMPLATE_LIST### begin -->

        <div id="###NEWS_UID###" class="news-edit-item" style="clear:both;">				
            <div class="lthNewsHeader"><h4><a href="index.php?id=###NEWS_UID###">###NEWS_TITLE###</a></h4></div>
            <p class="bodytext">###NEWS_DATE###</p>
            <div style="float: right; margin-top: -20px; width: 179;">###NEWS_IMAGE###</div>
            ###NEWS_SUBHEADER###
            <br />
            <div style="margin-bottom: 15px;" class="line"></div>
	</div>
        
	<!-- ###TEMPLATE_LIST### end -->
</html>